:root{
  --box-shadow: 5px 5px 10px 10px pink; 
  --bg-color: rgb(73, 85, 179);
  --transition: all 0.5s ease-in-out;
}
html body{
  background-color:rgb(42, 106, 215) ;
  padding: 0;
  margin: 0;
  color: white;
} 

/* Nav bar Section */

.nav_bar {
  display: flex;
  background-color: rgb(58, 61, 238);
  align-items: center;
  width: 100vw;
  justify-content: space-between;
  position: fixed;
  top: 0; /* Add this */
  z-index: 1000; /* Ensure navbar is on top */

}

.nav_bar .nav_items{
  color:white;
  padding: 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}
.nav_bar i{
  color: white;
  padding: 15px;
  font-weight: bold;
  font-size: 1.2rem;
  display: none;
}

.nav_bar .nav_items:hover{
  border-bottom: 3px solid rgb(241, 28, 213);
}

.nav_bar button{
  background: transparent;
  border: none;
}

/*home Sections*/
.home{
  padding-top: 10vh;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .left{
  background-color: var(--bg-color);
  width: 30vw;
  height: 30vh;
  text-align: center;
  border: 1px solid white;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: imageanimation 2s;
  animation-iteration-count:infinite;

  transform-style: preserve-3d; 
  background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?uato=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  transition: all 0.5s ease-in-out;
  animation: none;
  
}
.home .left:hover{
    background-position: 50% 50%;
    transform: rotate3d(0.8, .8, 0, 30deg);
    h2{
      transform: translate3d(0px, 0px, 30px);
    }
    a{
      transform: translate3d(0px, 0px, 30px);
    }
  }
  .home .left a:hover{
    box-shadow: 1px 1px 20px 5px rgb(156, 222, 68);
  }


.home .right .img{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:rgb(241, 28, 213) ; */
  padding: 2px;
  margin-right: 5vw;
}
.home .right .img img{
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 5px solid pink;
  animation-name: imageanimation;
  animation-duration: 3s;
  animation-iteration-count:infinite;
  z-index: 1;
}

@keyframes imageanimation {
  0%{
    border-color:rgb(64, 107, 246);
    box-shadow: 1vw 1vw 10vw 2vw rgb(64, 107, 246);
  }
  50%{
    border-color: rgb(245, 255, 47);
    transform: translate(0,10px);
    box-shadow: 1vw 1vw 10vw 2vw rgb(245, 255, 47);
  }
  75%{
    border-color:rgb(245, 91, 222);
    box-shadow: 1vw 1vw 10vw 2vw rgb(236, 78, 188);

  }100%{
    border-color: rgb(44, 217, 252);
    box-shadow: 1vw 1vw 10vw 2vw rgb(51, 225, 252);
  }  
}

/*skills 3d animation*/
.banner{
  width: 100%;
  height: 80vh;
  padding-top: 10vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center ;
  
}
.banner .slider{
  position: absolute;
  margin-top: 20vh;
  .item:hover {
    /* animation: bounce 0.5s; */
    background-color: rgb(57, 9, 171);
    
  }
  transform-style: preserve-3d;
  animation: autoRun 20s linear infinite;
}
@keyframes autoRun{
  from{
    transform: perspective(80vw) rotatex(-20deg) rotateY(0deg);
  }to{
    transform: perspective(80vw) rotatex(-20deg)  rotateY(360deg);  
  }
}
.banner .slider .item{
  width: 8vw;  
  height: 8vw;
    background-color: rgb(51, 171, 227);
    margin: .5vw;
    padding: .5vw;
    border: 2px solid rgb(245, 91, 222);
    box-shadow: 5px 5px 5px 0px rgb(236, 126, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    img{
      border-radius: 20px;
      width: 8vw;
      height: 8vw;
      object-fit: cover;
  }
  h3{
    color: violet;
  }
  position: absolute;
  inset: 0 0 0 0 ;
  transform: 
      rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) 
      translateZ(30vw);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* projects  3d animation*/
.parent{
  perspective: 1000px;
  .img{
    transform-style: preserve-3d; /*without this card-img-top translated3d will not work*/
  }
  .card-img-top{
    opacity: .8;   
     box-shadow: 1px 5px 40px 20px rgb(5, 8, 93);
     transform: translate3d(0px,0px,50px);
  }
}

.card{
  padding-top: 35px;
  transform-style: preserve-3d; 
  background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?uato=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}
.card:hover{
  background-position: 50% 50%;
  transform: rotate3d(0.8, .8, 0, 30deg);
}
.card-body {
  background: rgba(0, 3, 14, 0.7) ; 
  border-radius: 20px;
  margin: 10%;
  transform-style: preserve-3d; /*without this btn translated3d will not work*/
  .card-title{
    transition: all 0.1s ease-in-out;
  }
  .card-title:hover{
    font-weight:700;
    transform: translate3d(0px,0px,20px);
  }
  .btn{
    border-radius: 10px;
    box-shadow: 1px 5px 10px 3px rgb(92, 151, 233);
    transition: all 0.1s ease-in-out;
  }
  .btn:hover{
    transform: translate3d(0px,0px,30px);
  }
  
}

/*contacts*/
.contacts{
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contacts .items{
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contacts .items a{
  font-size: 2rem;
  height: 60px;
  width: 60px ;
  margin: 20px;
  padding-top: 5px;
  color:solid pink;
  background-color: rgb(0, 0, 0);
  border: 2px solid pink;
  border-radius: 100%;
  text-decoration: none;
}

.contacts .items a:hover{
  animation-name: contanimation;
  animation-duration: 2s;
  box-shadow: 1px 1px 100px 3px rgb(230, 137, 239);
}

@keyframes contanimation {
  0%{
    border-color:rgb(64, 107, 246);
    box-shadow: 1px 1px 100px 3px rgb(64, 107, 246);
  }
  50%{
    border-color: rgb(245, 255, 47);
    transform: translate(0,10px);
    box-shadow: 1px 1px 100px 3px rgb(245, 255, 47);
  }
  75%{
    border-color:rgb(245, 91, 222);
    box-shadow: 1px 1px 100px 3px rgb(236, 78, 188);

  }100%{
    border-color: rgb(44, 217, 252);
    box-shadow: 1px 1px 100px 3px rgb(51, 225, 252);
  }  
}

@media (max-width:600px) {
  /* Nav Ba Sections */
  .nav_bar{
    display: flex;
    justify-content: end;

  }
  .nav_bar .nav_items{
    padding: 5px;
    font-weight: bold;
    font-size: .8rem;
    display: none;
  }
  .nav_bar i{
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    display:block;
  }
  .nav_bar i:hover{
    color: aqua;
  }
/*home Sections*/
  .home{
    height: 55vh;
    flex-direction:column-reverse;
    gap: 20px;
  }
  .home h1{
    font-size: 1.5rem;
  }
  .home .left{
    width: 50%;
    h2{
      font-size: larger;
    }
    margin-bottom: 2vh;
    box-shadow: 3px 3px 10px 2px pink; 
  }

  .home .right .img{
    margin: 0;
  }
  .home .right .img img{
    height: 150px;
    width: 150px;
    animation-name: mobileimagination;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  @keyframes mobileimagination {
    0%{
      border-color:rgb(64, 107, 246);
      box-shadow: 3px 3px 40px 5px rgb(64, 107, 246);
    }
    50%{
      border-color: rgb(245, 255, 47);
      transform: translate(0,10px);
      box-shadow: 3px 3px 40px 5px rgb(245, 255, 47);
    }
    75%{
      border-color:rgb(245, 91, 222);
      box-shadow: 3px 3px 40px 5px rgb(236, 78, 188);
  
    }100%{
      border-color: rgb(44, 217, 252);
      box-shadow: 3px 3px 40px 5px rgb(51, 225, 252);
    }  
  }

/*projects */
.projects{ 
  width: 70vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .parent{
    width: 65vw;
  }
}

/* skills 3d animation */
@keyframes autoRun{
  from{
    transform: perspective(80vw) rotatex(-30deg) rotateY(0deg);
  }to{
    transform: perspective(80vw) rotatex(-40deg)  rotateY(360deg);  
  }
}



/*contacts*/
.contacts{
  width: 80vw;
}
.contacts .items{
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: inherit;
}
.contacts .items a{
  font-size: 2rem;
  height: 60px;
  width: 60px ;
  margin: 10px;
  padding-top: 5px;
  color:solid pink;
  background-color: rgb(0, 0, 0);
  border: 2px solid pink;
  border-radius: 100%;
}

.true{
  .nav_items{
    display:block;
  }
  button{
    display: none;
  }
}

.nav_bar .letrue{
  display: none;
}

.false{
  display: flex;
  justify-content: space-between;
}

}

@media (max-width:1000px) {
  @keyframes autoRun{
    from{
      transform: perspective(80vw) rotatex(-30deg) rotateY(0deg);
    }to{
      transform: perspective(80vw) rotatex(-30deg)  rotateY(360deg);  
    }
  } 
}
